 *{
	margin:0px;
	padding:0px;
	box-size: border-box;
	font-family:calibri;
}	
.header{
	background:#3b5998;
}
.header_content {
    padding: 0px 0px 0px 7rem;
}
.sing-btn{
	background:#42b72a;
	border:0;
	padding: 0px 5px;
	color:#fff;
	border-radius:3px;
	opacity:0.9;
	color: #fff;
}
button.sing-btn:hover {
    cursor: pointer;
    opacity:1;
}
.logInBox {
    margin: 40px 0px 0px 125px;
}
.logInBox h1 {
    padding: 20px 0px 20px 0px;
}
input.txt-mail {
    width: 15rem;
    display: block;
    padding: 8px 10px;
    font-size: 16px;
    margin-bottom: 20px;
}
input.txt-pass {
    width: 15rem;
    display: block;
    padding: 8px 10px;
    font-size: 16px;
    margin-bottom: 20px;
}
a.text_btn {
	display: block;
	width: 16.5rem;
	text-align: center;
    padding: 8px 0px 8px;
    background-color:#3b5998;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    opacity: 0.9;
    margin-bottom: 5px;
}
a.text_btn:hover{
	opacity:1;	
}
input[type=text]{
	padding-left:15px;
	font-size: 16px;
}
input[type=text]:focus{
	outline: none;
	box-shadow: 0px 0px 1px 1px;
}

/*Responsive Media Queries( Start-> )*/


@media screen and (min-width:1600px){

}
@media screen and (min-width:992px) and (max-width:1200px){

}
@media screen and (min-width:750px) and (max-width:991px){

}
@media screen and (max-width:749px){
.header_content {
    padding: 0px 0px 0px 1rem;
}
.header_content img {
    height: 50px;
    padding: 1px 16px;
}
.logInBox {
    margin: 0 auto;
    text-align: center;
}
input.txt-mail {
    margin: 15px auto;
}
input.txt-pass {
    margin: 15px auto;
}
a.text_btn {
    margin: 0 auto;
    }
}
@media screen and (max-width:320px){

}


/*Responsive Media Queries( Start-> )*/
